.parent {
    position: relative;
  }
  
  .js-element {
    position: absolute;
    z-index: 10; /* This SHOULD put it on top, but... */
  }
  
  canvas {
    padding-left: 10px;
    background: transparent;
    z-index: 9; /* Or whatever makes it sit on top */
    position: absolute; /* Required for z-index to take effect */
}

  .label {
    position: absolute;
    z-index: 5;
    padding-top: 185px;
    padding-left: 210px;
  }
  
  .interface {
    position: absolute;
    z-index: 2;
  }
  